<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="source/inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="source/inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="source/inspinia/css/animate.css" rel="stylesheet">
    <link href="source/inspinia/css/style.css" rel="stylesheet">
    <link href="source/jsfmt/s.css" type="text/css" rel="stylesheet"></link>

</head>

<body class="fixed-sidebar">

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

            <div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">head</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">data</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">metadata</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-4">struct explorer</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">

                                        <fieldset class="form-horizontal">
                                            <div class="form-group"><label class="col-sm-2 control-label">number:</label>
                                                <div class="col-sm-10"><input type="text" class="form-control" value="<%=head.number%>"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">previous_hash:</label>
                                                <div class="col-sm-10"><input type="text" class="form-control" value="<%=head.previous_hash%>"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">data_hash:</label>
                                                <div class="col-sm-10"><input type="text" class="form-control" value="<%=head.data_hash%>"></div>
                                            </div>
                                        </fieldset>

                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>

                                                <th>tx_id</th>
                                                <th>channel_id</th>
                                                <th>timestamp</th>
                                                <th>type</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% data.forEach(function(dataitem){ %>
                                            <tr>
                                                <td><a href="javascript:opentransdetail('<%=dataitem.payload.header.channel_header.tx_id%>');"><%=dataitem.payload.header.channel_header.tx_id%></a></td>
                                                <td><%=dataitem.payload.header.channel_header.channel_id%></td>
                                                <td><%=dataitem.payload.header.channel_header.timestamp%></td>
                                                <td><%=dataitem.payload.header.channel_header.type%></td>

                                            </tr>
                                            <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="tab-3" class="tab-pane">
                                    <div class="panel-body">

                                        <fieldset class="form-horizontal">
                                            <div class="form-group"><label class="col-sm-2 control-label">Mspid:</label>
                                                <div class="col-sm-10"><input type="text" class="form-control" value="<%=metadata[0].signatures[0].signature_header.creator.Mspid%>"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">IdBytes:</label>
                                                <div class="col-sm-10">
                                                    <textarea rows="20" cols="20" class="form-control" ><%=metadata[0].signatures[0].signature_header.creator.IdBytes%></textarea>
                                                </div>
                                            </div>

                                        </fieldset>

                                    </div>
                                </div>

                                <div id="tab-4" class="tab-pane">
                                    <div class="panel-body">

                                        <div class="HeadersRow">
                                            <textarea  style="display:none;" id="RawJson" rows="1" cols="1"><%=jsonstr%></textarea>
                                            </textarea>
                                        </div>
                                        <div id="ControlsRow">

                                            <span id="TabSizeHolder">
    缩进量
    <select id="TabSize" onchange="TabSizeChanged()">
      <option value="1">1</option>
      <option value="2" selected="true">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
  </span>
                                            <label for="QuoteKeys">
                                                <input type="checkbox" id="QuoteKeys" onclick="QuoteKeysClicked()" checked="true" />
                                                引号
                                            </label>&nbsp;
                                            <a href="javascript:void(0);" onclick="SelectAllClicked()">全选</a>
                                            &nbsp;
                                            <span id="CollapsibleViewHolder" >
      <label for="CollapsibleView">
        <input type="checkbox" id="CollapsibleView" onclick="CollapsibleViewClicked()" checked="true" />
        显示控制
      </label>
  </span>
                                            <span id="CollapsibleViewDetail">
    <a href="javascript:void(0);" onclick="ExpandAllClicked()">展开</a>
    <a href="javascript:void(0);" onclick="CollapseAllClicked()">叠起</a>
    <a href="javascript:void(0);" onclick="CollapseLevel(3)">2级</a>
    <a href="javascript:void(0);" onclick="CollapseLevel(4)">3级</a>
    <a href="javascript:void(0);" onclick="CollapseLevel(5)">4级</a>
    <a href="javascript:void(0);" onclick="CollapseLevel(6)">5级</a>
    <a href="javascript:void(0);" onclick="CollapseLevel(7)">6级</a>
    <a href="javascript:void(0);" onclick="CollapseLevel(8)">7级</a>
    <a href="javascript:void(0);" onclick="CollapseLevel(9)">8级</a>
  </span>
                                        </div>
                                        <div id="Canvas" class="Canvas"></div>


                                    </div>
                                </div>


                            </div>
                    </div>
                </div>
            </div>

        </div>

    <!-- Mainly scripts -->
    <script src="source/inspinia/js/jquery-3.1.1.min.js"></script>
    <script src="source/inspinia/js/bootstrap.min.js"></script>
    <script src="source/jsfmt/c.js" type="text/javascript"></script>





    <script type="text/javascript" src="source/jsfmt/m.js"></script>
    <script type="text/javascript">
        var jsonstr = '' ;
        Process();
    </script>
</body>

</html>
