<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="source/inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="source/inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="source/inspinia/css/animate.css" rel="stylesheet">
    <link href="source/inspinia/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

            <div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">head</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">data</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">metadata</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">

                                        <fieldset class="form-horizontal">
                                            <div class="form-group"><label class="col-sm-2 control-label">number:</label>
                                                <div class="col-sm-10"><input type="text" class="form-control" value="<%=head.number%>"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">previous_hash:</label>
                                                <div class="col-sm-10"><input type="text" class="form-control" value="<%=head.previous_hash%>"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">data_hash:</label>
                                                <div class="col-sm-10"><input type="text" class="form-control" value="<%=head.data_hash%>"></div>
                                            </div>
                                        </fieldset>

                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>

                                                <th>tx_id</th>
                                                <th>channel_id</th>
                                                <th>timestamp</th>
                                                <th>type</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% data.forEach(function(dataitem){ %>
                                            <tr>
                                                <td><a href="javascript:opentransdetail('<%=dataitem.payload.header.channel_header.tx_id%>');"><%=dataitem.payload.header.channel_header.tx_id%></a></td>
                                                <td><%=dataitem.payload.header.channel_header.channel_id%></td>
                                                <td><%=dataitem.payload.header.channel_header.timestamp%></td>
                                                <td><%=dataitem.payload.header.channel_header.type%></td>

                                            </tr>
                                            <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="tab-3" class="tab-pane">
                                    <div class="panel-body">

                                        <fieldset class="form-horizontal">
                                            <div class="form-group"><label class="col-sm-2 control-label">Mspid:</label>
                                                <div class="col-sm-10"><input type="text" class="form-control" value="58"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">IdBytes:</label>
                                                <div class="col-sm-10"><input type="text" class="form-control" value="c347e632d149d579ff7b222a4ab09a6591c1bf7010afb5724a030945189571ce"></div>
                                            </div>

                                        </fieldset>

                                    </div>
                                </div>

                            </div>
                    </div>
                </div>
            </div>

        </div>

    <!-- Mainly scripts -->
    <script src="source/inspinia/js/jquery-3.1.1.min.js"></script>
    <script src="source/inspinia/js/bootstrap.min.js"></script>

</body>

</html>
