<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>旺链区块链浏览器</title>

    <link href="source/inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="source/inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="source/inspinia/css/animate.css" rel="stylesheet">
    <link href="source/inspinia/css/style.css" rel="stylesheet">
 <link href="source/grap/vis.css" rel="stylesheet">
    
</head>

<body>
    <div id="wrapper">
       
       <% include nav_menu.ejs %>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">节点名称：peer1  节点IP：192.168.10.1  节点组织：org1 </span>
                </li>
                
                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
                <li>
                    <a class="right-sidebar-toggle">
                        <i class="fa fa-tasks"></i>
                    </a>
                </li>
            </ul>

        </nav>
        </div>
            <div class="wrapper wrapper-content">
        <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                 <h5>加入通道</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">1</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">                                
                                <h5>区块</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"><%=blocks1 %></h1>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">                                
                                <h5>交易</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"><%=trans %></h1>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">                                
                                <h5>chaincode</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"><%=chaincodenums %></h1>
                            </div>
                        </div>
            </div>
        </div>
        <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>我的共享账本节点</h5>
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-xs btn-white active">刷新</button>                                       
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                <div id="main" style="width: 600px;height:200px;"></div>
                                
                                
                                </div>
                             </div>

                            </div>
                        </div>
                    </div>

                <!--  -->
               
               <div class="row">
               
               
               
               </div>
               
               
               <!--  -->
               
               

            
            <div class="row">

        <div class="col-lg-12">
        <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>最近的区块</h5>
            <div class="ibox-tools">
                                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-9 m-b-xs">
                     <a class="btn btn-primary btn-sm" href="#">新增记录</a>
                     <a class="btn btn-primary btn-sm" href="#">批量删除</a>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                            <input type="text" placeholder="区块编号" class="input-sm form-control"> 
                            <span class="input-group-btn"><button type="button" class="btn btn-sm btn-primary"> Go!</button> </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th>#</th>
                        <th>previous_hash </th>
                        <th>data_hash </th>
                    </tr>
                    </thead>
                    <tbody>

                    <% block_array.forEach(function(block){ %>
                    <tr>
                        <td><a href="javascript:openblockdetail('<%=block.num %>');"><%=block.num %></a></td>
                        <td> <small><%=block.previous_hash %></small></td>
                        <td><%=block.data_hash %></td>
                    </tr>
                    <% })%>

                    </tbody>
                </table>
            </div>

        </div>
        </div>
        </div>

        </div>
        
        
        <div class="row">

        <div class="col-lg-12">
        <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>最近的交易</h5>
            <div class="ibox-tools">
                
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-9 m-b-xs">
                     <a class="btn btn-primary btn-sm" href="#">新增记录</a>
                     <a class="btn btn-primary btn-sm" href="#">批量删除</a>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="input-sm form-control"> 
                        <span class="input-group-btn"> <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span>
                   </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th>tx_id</th>
                        <th>channel_id</th>
                        <th>type</th>
                        <th>timestamp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% tx_array.forEach(function(t){ %>
                    <tr>
                        <td><a href="javascript:opentransdetail(<%=t.id%>);"><%=t.id%></a></td>
                        <td><%=t.channel_id %></td>
                        <td><%=t.type %></td>
                        <td><%=t.timestamp %></td>

                    </tr>
                    <%})%>





                    </tbody>
                </table>
            </div>

        </div>
        </div>
        </div>

        </div>
        
        
        <div class="row">

        <div class="col-lg-12">
        <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>最近的chaincode</h5>
            <div class="ibox-tools">
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>version </th>
                        <th>path </th>
                        <th>input </th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <% chaincodes.forEach(function(c){%>
                    <tr>
                        <td><%=c.name %></td>
                        <td><%=c.name %></td>
                        <td><%=c.version %></td>
                        <td><%=c.path %></td>
                    </tr>
                    <%})%>
                   
                    </tbody>
                </table>
            </div>

        </div>
        </div>
        </div>

        </div>
        
        
        <div class="row">

        <div class="col-lg-12">
        <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>我加入的通道</h5>
            <div class="ibox-tools">
                
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        
                        <th>通道名称 </th>
                        <th>区块数</th>
                        <th>上一个hash</th>
                        <th>下一个hash </th>
                       
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Project <small>This is example of project</small></td>
                        <td>Patrick Smith</td>
                        <td>0800 051213</td>
                       
                    </tr>
                   
                    
                    
                    
                    </tbody>
                </table>
            </div>

        </div>
        </div>
        </div>

        </div>
                <div class="row">


                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>区块生成趋势</h5>
                                <div class="ibox-tools">
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="flot-pie-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>交易生成趋势</h5>
                                <div class="ibox-tools">

                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                
                </div>
                <% include nav_foot.ejs %>        </div>
        
    </div>

    <!-- Mainly scripts -->
    <script src="source/inspinia/js/jquery-3.1.1.min.js"></script>
    <script src="source/inspinia/js/bootstrap.min.js"></script>
    <script src="source/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="source/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Flot -->
    <script src="source/inspinia/js/plugins/flot/jquery.flot.js"></script>
    <script src="source/inspinia/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="source/inspinia/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="source/inspinia/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="source/inspinia/js/plugins/flot/jquery.flot.time.js"></script>
        
    <!-- Custom and plugin javascript -->
    <script src="source/inspinia/js/inspinia.js"></script>
    <script src="source/inspinia/js/plugins/pace/pace.min.js"></script>

    <!-- Flot demo data -->
    <!-- 
    <script src="source/inspinia/js/demo/flot-demo.js"></script>
    -->
    
    <script src="source/grap/vis.js"></script>
    <script src="source/layer/layer.min.js"></script>
    
    <script type="text/javascript">

    function openblockdetail(blockid){

    	var titleinfo = " 编号为  ["+blockid+"] 区块详细信息";
    	
    	$.layer({
    		
    		type:2,
    		border: [0],
    		 area : ['850px' , '800px'],
    		    offset : ['10px',''],
    		
    		title:titleinfo,
    		iframe:{src: 'block_detail?blocknums='+blockid}
    			
    	});
    	
    	
    }


    function opentransdetail(tranid){

    	var titleinfo = " 编号为  ["+tranid+"] 交易详细信息";
    	
    	$.layer({
    		
    		type:2,
    		border: [0],
    		 area : ['850px' , '800px'],
    		    offset : ['10px',''],
    		
    		title:titleinfo,
    		iframe:{src: 'trans_detail?txid='+tranid}
    			
    	});
    	
    	
    }
    
    
    </script>  
    
    
    <script type="text/javascript">
      // create an array with nodes
      var nodes = new vis.DataSet([
        {id: 1, label: 'peer 1',color: '#7BE141'},
        {id: 2, label: 'peer 2',color: '#7BE141'},
        {id: 3, label: 'peer 3',color: '#7BE141'},

      ]);
    
      // create an array with edges
      var edges = new vis.DataSet([
        {from: 1, to: 3},
        {from: 1, to: 2},
        {from: 2, to: 3}
      ]);
    
      // create a network
      var container = document.getElementById('main');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {};
      var network = new vis.Network(container, data, options);
    </script>
    
<script type="text/javascript">


//区块趋势图
$(function() {

    var container = $("#flot-pie-chart");

    // Determine how many data points to keep based on the placeholder's initial size;
    // this gives us a nice high-res plot while avoiding more than one point per pixel.

    var maximum = container.outerWidth() / 2 || 300;

    //

    var data = [];

    function getRandomData() {

        if (data.length) {
            data = data.slice(1);
        }

        while (data.length < maximum) {
            var previous = data.length ? data[data.length - 1] : 50;
            var y = previous + Math.random() * 10 - 5;
            data.push(y < 0 ? 0 : y > 100 ? 100 : y);
        }

        // zip the generated y values with the x values

        var res = [];
        for (var i = 0; i < data.length; ++i) {
            res.push([i, data[i]])
        }

        return res;
    }

    series = [{
        data: getRandomData(),
        lines: {
            fill: true
        }
    }];


    var plot = $.plot(container, series, {
        grid: {

            color: "#999999",
            tickColor: "#D6D7D4",
            borderWidth:0,
            minBorderMargin: 20,
            labelMargin: 10,
            backgroundColor: {
                colors: ["#ffffff", "#ffffff"]
            },
            margin: {
                top: 8,
                bottom: 20,
                left: 20
            },
            markings: function(axes) {
                var markings = [];
                var xaxis = axes.xaxis;
                for (var x = Math.floor(xaxis.min); x < xaxis.max; x += xaxis.tickSize * 2) {
                    markings.push({
                        xaxis: {
                            from: x,
                            to: x + xaxis.tickSize
                        },
                        color: "#fff"
                    });
                }
                return markings;
            }
        },
        colors: ["#FF2D2D"],
        xaxis: {
            tickFormatter: function() {
                return "";
            }
        },
        yaxis: {
            min: 0,
            max: 110
        },
        legend: {
            show: true
        }
    });

    // Update the random dataset at 25FPS for a smoothly-animating chart

    setInterval(function updateRandom() {
        series[0].data = getRandomData();
        plot.setData(series);
        plot.draw();
    }, 40);

});



//交易趋势图
$(function() {

    var container = $("#flot-line-chart-moving");

    // Determine how many data points to keep based on the placeholder's initial size;
    // this gives us a nice high-res plot while avoiding more than one point per pixel.

    var maximum = container.outerWidth() / 2 || 300;

    //

    var data = [];

    function getRandomData() {

        if (data.length) {
            data = data.slice(1);
        }

        while (data.length < maximum) {
            var previous = data.length ? data[data.length - 1] : 50;
            var y = previous + Math.random() * 10 - 5;
            data.push(y < 0 ? 0 : y > 100 ? 100 : y);
        }

        // zip the generated y values with the x values

        var res = [];
        for (var i = 0; i < data.length; ++i) {
            res.push([i, data[i]])
        }

        return res;
    }

    series = [{
        data: getRandomData(),
        lines: {
            fill: true
        }
    }];


    var plot = $.plot(container, series, {
        grid: {

            color: "#999999",
            tickColor: "#D4D4D4",
            borderWidth:0,
            minBorderMargin: 20,
            labelMargin: 10,
            backgroundColor: {
                colors: ["#ffffff", "#ffffff"]
            },
            margin: {
                top: 8,
                bottom: 20,
                left: 20
            },
            markings: function(axes) {
                var markings = [];
                var xaxis = axes.xaxis;
                for (var x = Math.floor(xaxis.min); x < xaxis.max; x += xaxis.tickSize * 2) {
                    markings.push({
                        xaxis: {
                            from: x,
                            to: x + xaxis.tickSize
                        },
                        color: "#fff"
                    });
                }
                return markings;
            }
        },
        colors: ["#1ab394"],
        xaxis: {
            tickFormatter: function() {
                return "";
            }
        },
        yaxis: {
            min: 0,
            max: 110
        },
        legend: {
            show: true
        }
    });

    // Update the random dataset at 25FPS for a smoothly-animating chart

    setInterval(function updateRandom() {
        series[0].data = getRandomData();
        plot.setData(series);
        plot.draw();
    }, 40);

});



</script>
    
</body>
</html>
